{% extends '::base.html.twig' %}

{% block body %}
<h3>Ajouter une formation</h3>

{% for flashMessage in app.session.flashbag.get('notice') %}

    <div class="bg-success">{{ flashMessage }}</div>

{% endfor %}

{{ form(form) }}

{% endblock %}