{% extends '::base.html.twig' %}

{% block body %}
	<div id="annonce-view">
		<table>
			<tr>
				<th colspan="2">
					<h3>{{ formation.titre }}</h3>
				</th>
			</tr>
			<tr>
				<td>
					<div class="annonce-preview">
						<p>
							<span>Description :</span><br/>
							{{ formation.description }}
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="annonce-date">
					<span>
						{{ formation.date | date("d/m/Y") }}
					</span>
				</td>
			</tr>
		</table>
	</div>
{% endblock %}