/* Style générale */
body{
	font-family: sans-serif;
	font-size: 14px;
	background: #E9E6E0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
#content{	
	padding: 10px 0 0 0;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	outline: none;
	color: #fff;
}
a:hover{
	color: #B1B1B1;
	transition: color .5s;
}
.black{
	color: #000;
}

/* Style page inscription */
.error{
	margin: 5px 0 5px 0;
	background: red;
	padding: 10px;
	color: white;
	border-radius: 3px;
	text-align: center;
}
.succes{
	margin: 5px 0 5px 0;
	padding: 10px;
	background: green;
	color: white;
	border-radius: 3px;
	text-align: center;
}

.inscription, .edit-profil {
	margin: 15px 0 0 0;
	background: #f3f3f3;
	border-top: 1px solid #fff;
	border-radius: 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.inscription form fieldset{
	display: inline-block;
	vertical-align: top;
	margin: 20px 10px;
}
.inscription form label, .edit-profil form label{
	font-size: 15px;
}
.inscription form input, .inscription form select, .edit-profil form select, .edit-profil form input{
	width: 400px;
	height: 30px;
	margin: 0 0 10px 0;
}

/* style page de connexion */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*******************
LOGIN FORM
*******************/

.login-form {
	width: 300px;
	margin: 20px auto;
	position: relative;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 0px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
}

/* pseudo field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* password field */
.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top:170px; 
	background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:229px;
	background: rgba(65,72,72,0.75) url(http://www.demo.amitjakhu.com/login-form/images/pass-icon.png) no-repeat center;
}

.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .user-icon, .pass-icon, .button {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}


/***********
LISTES LIGUES
***********/

.titreligue{
	text-align:center;
	font-size:350%;
	margin-bottom:30px;
	margin-top:30px;
}

.ligue{
	border:1px solid black;
	width:800px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
}

.imgtennis{
	background-image:url("../img/tennis.jpg");
	background-repeat:no-repeat;
}

.imgfoot{
	background-image:url("../img/foot.jpg");
	background-repeat:no-repeat;
}

.imgbasket{
	background-image:url("../img/tennis.jpg");
	background-repeat:no-repeat;
}

.imgbad{
	background-image:url("../img/bad.jpg");
	background-repeat:no-repeat;
}

.imgrugby{
	background-image:url("../img/rugby.jpg");
	background-repeat:no-repeat;
}

.imgvolley{
	background-image:url("../img/volley.jpg");
	background-repeat:no-repeat;
}

.imgbase{
	background-image:url("../img/baseball.jpg");
	background-repeat:no-repeat;
}

.sport{
	font-size:250%;
	text-align:center;
}

/*******************
LISTE DES ANNONCES
*******************/
.pseudo-utilisateur {
	color: rgb(0, 114, 149);
	font-weight: bold; 
}
.annonce-date {
	padding: 3px;
	text-align: right !important;
	font-weight: bold;
	color: rgb(140,140,140);
}

#annonces-liste {
	list-style-type: none;
	width: 800px;
	margin: 0 auto;
}

#annonces-liste li {
	background-color: white;
	height: 175px;
	padding:10px;
	margin-bottom: 15px;
	box-shadow: 5px 5px 10px rgb(150,150,150);
}
#annonces-liste li table {

}
#annonces-liste li table td {
	text-align: left;
	vertical-align: top;
}
.img-user {
	text-align: center !important;
	width: 150px;
}
.img-user img {
	width: 125px;
}
.annonce-preview h3 {
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: rgb(230,230,230);
	background-color: rgb(0, 114, 149);
}
.annonce-preview h3 a {
	color: white;
}
.annonce-preview h3 a:hover {
	color: black;
}
.annonce-preview p {
	margin: 0;
}
.annonce-preview p span {
	font-weight: bold;
}
.annonce-preview p a {
	font-weight: bold;
	color: rgb(0, 114, 149);
}
.annonce-preview p a:hover {
	color: rgb(140,140,140);
}

/************************
AFFICHAGE D'UNE ANNONCE
*************************/
#annonce-view {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 5px 5px 10px rgb(150,150,150);
}
#annonce-view h3 {
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: rgb(230,230,230);
	background-color: rgb(0, 114, 149);
}
#annonce-view table th {
	padding: 5px;
}
#annonce-view table td {
	text-align: left;
	vertical-align: top;
}


/*******************
FOOTER
*******************/

.login-form .footer, .inscription form .footer, .edit-profil form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}


/* style partie liens vers les villes */
.portfolio-grid {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.portfolio-grid li {
	display: inline-block;
	margin: 5px 5px 5px 5px;
	vertical-align: top;
    width:212px;
}

.portfolio-grid li > .images a,
.portfolio-grid li > .images a img,
.portfolio-grid li > .images a .texte {
    width: 100%;
	border: none;
	outline: none;
	display: inline-block;
	position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-grid li > .images a img:hover,
.portfolio-grid li > .images a .texte:hover {
    border-radius: 50%;
    z-index: 9999;
}
@font-face{
	font-family: 'SEASRN';
	src: url('../font/SEASRN__.ttf');
}
.images{
	height: 200px;
	width: 200px;
	position: relative;
}
.images .countryimage{
	position: absolute;
	z-index: 1;
}
.images .countryimage .taillephoto{
	height: 200px;
	width: 200px;
}
.images .texte{
	position: absolute;
	top: 90px;
	z-index: 2;
	font-size: 1.5em;
	background-color: #007295;
	font-family: 'SEASRN';
}

